body{
    text-align: center;
    background-image: url(../jewelry/assets/jewel1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
body:before {
    width: 100%;
    height: auto;
    content:'';
    position: absolute;
    background-color: rgba(0,0,0,0.6);
}
